---
import {getCollection, CollectionEntry} from 'astro:content';
import Block from "../../Block.astro";

export async function getStaticPaths() {
  const flyerEntries = await getCollection('flyers');
  return flyerEntries.map(entry => ({
    params: {slug: entry.slug}, props: {entry},
  }));
}

const {entry} = Astro.props;
const {Content} = await entry.render();

const blocksCollection = await getCollection('blocks');
const blocksOfFlyer = (entry as  CollectionEntry<"flyers">).data.blocks.map((blockRef)=>{
    return blocksCollection.find((block)=>{
        return block.slug === blockRef.slug;
    });
});

---

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}/>
    <title>{entry.data.title}</title>
</head>
<body>
<h1>Flyer {entry.data.title}</h1>
<a href="/">home</a>

<Content></Content>

{blocksOfFlyer.map((block) => (<Block block={block}></Block>))}

</body>
</html>
